@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ijxmcq');
	src:url('../fonts/icomoon.eot?#iefix-ijxmcq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ijxmcq') format('woff'),
		url('../fonts/icomoon.ttf?-ijxmcq') format('truetype'),
		url('../fonts/icomoon.svg?-ijxmcq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.principal {
    background-origin: border-box;    background: url(../img/fondoPagina.jpg) norepeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 0;    
    height: 480px;
    display: inline-block;

    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    
}

.logo{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.4%;
    width: 600px;
    
}

.ppal {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.menuPrin ul {
    list-style: none;
}

header{
  
}
.menuPrincipal li{
    background: black;
    float: left;
    height: 40px;
    list-style: none;
    padding-top: 15px;
    text-align: center;
    width: 100px;
}
.menuPrincipal li a{
    text-decoration: none;

}

.menuPrin {
    background-color: rgba(255, 255, 255, 0.13);
    height: 115px;

}

.navPrincipal {
    display: block;
}

.fondoPagina {
    position: absolute;
    height: 100%;
    z-index: -50;
    
}

.menuPrin ul{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 802px;
}

.menuPrin ul li{

    text-align: center;
}

.menuPrin ul li a{
    float: left;
    color: #fff;
    font-family: 'Montserrat', 'sans-serif';
    margin-right: auto;
    margin-left: auto;
    padding: 28px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}
.icono{
    margin-right: auto;
    margin-left: auto;

}
.home:before{
    display: block;
    font-family: 'icomoon','Montserrat';
    font-size: 2em;
    content: "\e600";
}
.ubicanos:before{
    display: block;
    font-family: 'icomoon','Montserrat';
    font-size: 2em;
    content: "\e602";
}
.flota:before{
    content: "c";
    display: block;
    font-family: 'untitled-font-1','Montserrat';
    font-size: 2em;
    margin-top: 5px;
}
.politica:before{
    display: block;
    font-family: 'icomoon','Montserrat';
    font-size: 2em;
    content: "\e606";
}
.contacto:before{
    display: block;
    font-family: 'icomoon','Montserrat';
    font-size: 2em;
    content: "\e601";
}
.menuPrin{
    background-color: black;
}

header{
    display: block;
    position: relative;
    z-index: -15;
    
}
.menuPrin{
    position: relative;
    z-index: 2;
}
.seleccion:after{
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #05603d;
    display: block;
    height: 0px;
    margin-top: 27px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width:2px;
}
.menuPrin ul li a:hover{
    background:#05603d;
}
.seleccion{
    background-color:#05603d;
    height: 59px;
}