/* by c1sar */

.wrapper 
{
 	background: white;
  	margin: auto;
  	padding: 1em;
  	width: 55%;
  	box-shadow: 5px 10px 50px #4c8465;
	border: solid;
	border-radius: 10px;
	border-color:#14b24c;
}

h1 
{
	text-align: center;
}

ul.tabs1 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.tabs1 li 
{
  border: green solid 1px;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .5em;
  vertical-align:sub;
  font-size:1.2em;
}

ul.tabs1 li a 
{
  color: #009485;
  font-weight: bold;
  text-decoration: none;
}

ul.tabs1 li.active 
{
  	background: #009485;
}

ul.tabs1 li.active a 
{
  	color: white;
}





ul.tabs2
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.tabs2 li 
{
  border: green solid 1px;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .5em;
}

ul.tabs2 li a 
{
  color: #009485;
  font-weight: bold;
  text-decoration: none;
}

ul.tabs2 li.active 
{
  	background: #009485;
}

ul.tabs2 li.active a 
{
  color: white;
}



.clr 
{
	clear: both;
}


article 
{
	border-top: green solid 1px;
	padding: 0 1em;
	/*display: table;*/
}


section.tabTEXT, section.tabIMG, section.espacio
{
	font-family: "bubblegumsans";
	display: inline-block;
	margin:0.25em auto;
	max-width: 1520px;
	min-width: 1px;
	vertical-align:top;
	width:50%;
	font-size:1.4em;
	/*border-radius: 9px;
	opacity: 0.91;
	box-shadow: 5px 10px 50px #4c8465;
    border: solid;
    border-radius: 10px;
    border-color: #14b24c;*/
	/*line-height:1;*/
}

section.tabTEXT h1
{
	font-family: "kaushanscript";
	font-size:1.9em;
	color:#009485;
	text-shadow: 0 0 0.4em #8F7;
}



section.tabTEXT p
{
	text-indent: 1cm;
}


.bene
{
	font-family: "kaushanscript";
	font-size:1.7em;
	color:#009485;
	text-shadow: 0 0 0.4em #8F7;
	text-align:left;
}

section.espacio
{
	width:5%;
}

section.tabIMG
{
	width:40%;
	margin-left:auto;
	margin-right:auto;
}

IMG.imgcenter
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
	z-index: -1;
	width: 100%;
} 

.descripcion_BEN
{
	/*background:   #C2FEE1;*/
	opacity: 0.91;
    border-radius: 10px;
	font-family: "bubblegumsans";
	max-width: 1520px;
	min-width: 1px;
	vertical-align:top;
	font-size:1.4em;
}

.descripcion_BEN p
{
	text-indent: 1cm; 
	margin-left:2em;
	margin-right:2em;
}

.descripcion_BEN ul
{
	text-align:justify; 
	margin-left:3em;
	margin-right:2em;
	color:#009485;
}

.descripcion_BEN li
{
	margin-left:2em;
}

.descripcion_BEN li label
{
	color:black;
}

#bene2
{
	background-image: url('../img/carro3.png');
	background-repeat:no-repeat;
	background-position:center;
}

section.social
{
	font-family: "bubblegumsans";
	display: inline-block;
	margin:0.25em auto;
	max-width: 1520px;
	min-width: 1px;
	vertical-align:top;
	width:95%;
	font-size:1.4em;

}

section.social h1
{
	font-family: "kaushanscript";
	font-size:1.9em;
	color:#009485;
	text-shadow: 0 0 0.4em #8F7;
}

section.social p
{
	text-indent: 1cm;
}

section.tabTEXT p.pregunta
{
	color:#009485;
	text-indent: 0cm;
}	

.botonC {
    background: #05500f;
    border-radius: 5px;
    color:white;
    font-family: source_sans_probold;
	position:absolute;
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
	margin-left: 80px;
}

.botonC:hover{
    background: #05841c;
}

.FORMubicanos input2
{
    height:20px;
    width:100px;
    padding:5px 8px;
	font-size: 0.9em;
}