
.menuPrin {
    top: 0;
}

.carroMuestra {
    content: " ";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 1250px;
}

.foto0 {
    
    margin-top: 20px;
    margin-left: 150px;
    position: absolute;
    width: 630px;
}

.carruselFotosCarro {
    margin-left: 10px;
    margin-top: 20px;
    position: relative;
    width: 140px;
}

.fotoCarrusel {
    display: block;   
    height: 90px;
    width: 130px;
}

.fotoCarrusel:hover{
    border: solid #1b9b5b;
    cursor: pointer;
    
}

.fondoReserva {
    box-shadow: 0 0 0 white;
    border: none;
    position: absolute;
    display: block;
    margin-left: 840px;
    margin-top: -390px;
}

.texto {
    padding-left: 33px;
    text-align: left;
}

.opciones_carro {
    
    margin-left: auto;
    margin-right: auto;
    padding-right: 300px;
    height: 120px;
    width: 630px;
}

.caracteristicasCarro{
    color: #035d25;
    font-family: 'source_sans_probold';
}
.caracteristicasCarro tr{
    height: 30px;
}
.caracteristicasCarro td{
    width: 100px;
}
.valorCarro{
    font-family: source_sans_proregular;
    text-align: center;
}

.menuCarros {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 1250px;
}

.articuloCarro {
    color: #035d25;
    font-family: source_sans_probold;
    font-size: 1.5em;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 24%;
    
}
.articuloCarro:hover{
    border-color: #035d25;
    cursor:pointer;
}

.InternoMenu {
    height: 100%;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.InternoMenu:hover{
    border-left: solid white;
    background: #035d25;
    color: white;
}

.textoMenuCarro {
    position: relative;
    text-align: center;
}

.iconoMenuCarro {
    height: 75%;
    width: 90%;
    -webkit-transition: width 1s, height 1s, ease 1s;
}
.iconoMenuCarro:hover{
    height: 85%;
    width: 95%;
}

.seleccionado {
    color: white;
    background: #035d25;
    border-left: solid #035d25;
    border-right: solid #035d25;
    cursor:default;
}

.main {
    display: block;
    /*margin-top: -100px;*/
}



.iconoCarroEstandar {
    margin-top: 10px;
}

.menuCarroEconomico {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
}

.carroEconomico {
    color: #035d25;
    display: inline-block;
    height: 290px;
    position: relative;
    width: 48%;
}

.botonReserva {

}

.fotoCarro {
    border-radius: 20px;
    height: 260px;
    width: 370px;
}

.containerInfo {
    position: absolute;
}

.tituloCarro {
    font-size: 2em;
    font-family: source_sans_probold;
    margin-top: -200px;
    margin-left: 370px;
    text-align: center;
}

.precioCarro {
    font-family: source_sans_probold;
    font-size: 3em;
    margin-left: 370px;
}

.botonVer {
        margin: 0;
    padding: 15px;
    padding-left: 77px;
    padding-right: 77px;
    position: absolute;
    margin-left: 375px;
    margin-top: 30px;
}

.botonVer:hover{
    cursor: pointer;
}



.contenedorMenuCarro {
    background-color: white;
    border: solid #035d25;
    height: 205px;
    width: 100%;
}

.twitter {
    
}

.menuReservaPrincipal {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
