@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ijxmcq');
	src:url('../fonts/icomoon.eot?#iefix-ijxmcq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ijxmcq') format('woff'),
		url('../fonts/icomoon.ttf?-ijxmcq') format('truetype'),
		url('../fonts/icomoon.svg?-ijxmcq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

@font-face 
{
    font-family: 'source_sans_proregular';
    src: url('../fonts/regular/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/regular/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/regular/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/regular/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/regular/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'source_sans_probold';
    src: url('../fonts/bold/sourcesanspro-bold-webfont.eot');
    src: url('../fonts/bold/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bold/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../fonts/bold/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('../fonts/bold/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

header{
    display: block;
    padding-top: 107px;
    position: relative;
 
}

/*Logo Principal de la Pagina */

.logo{
    display: inline-block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-top: 0.6;
    width: 350px;
}
/* Fin Logo Principal */

/* Nav Principal */
.menuPrin {
    background-color: black;       
    display: inline-block;
    float: left;
    height: 107px;
    position: fixed;
    width: 100%;
    z-index: 19;
    
}

.menuPrin ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


.menuPrin ul li{

    text-align: center;
}

.menuPrin ul li a{
    float: left;
    color: #fff;
    font-family: 'Montserrat', 'sans-serif';
    margin-right: auto;
    margin-left: auto;
    padding: 28px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}

.menuPrin ul li a:hover{
    background:#05603d;
}

/* Fin Nav Principal*/

/* Header Principal */

.principal {
        background: url(../img/fondo1.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border: 0;    
        height: 435px;
        margin: 0;
        padding: 0;
        width: 100%;
        z-index: -20;
}
/*Fin Header Principal */

/* Elemento Seleccionado en el Nav Principal */

.seleccion:after{
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #05603d;
    display: block;
    height: 0px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width:2px;
}

.seleccion{
    background-color:#05603d;
    height: 51px;
}

/* Fin Elemento Seleccionado en el Nav Principal */

/* Iconos Menu Principal */

.home:before{
    display: block;
    font-family: 'icomoon','Montserrat';
    font-size: 2em;
    content: "\e600";
}
.ubicanos:before{
    display: block;
    font-family: 'icomoon','Montserrat';
    font-size: 2em;
    content: "\e602";
}
.flota:before{
    content: "c";
    display: block;
    font-family: 'untitled-font-1','Montserrat';
    font-size: 2em;
    margin-top: -5px;
}
.politica:before{
    display: block;
    font-family: 'icomoon','Montserrat';
    font-size: 2em;
    content: "\e606";
}
.contacto:before{
    display: block;
    font-family: 'icomoon','Montserrat';
    font-size: 2em;
    content: "\e601";
}

/*Fin Iconos Menu*/

/* Menu Reserva */

.menuReserva{
    margin-left: auto;
    margin-right: auto;
    margin-top: 178px;
    width: 400px;
}

.menuReserva ul li{
    float: left;
    list-style: none;
    padding-right: 10px;
    text-align: center;
    z-index: 10;
}

.menuReserva ul li a{
    background: url(../img/bg.png);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #05603d;
    display: block;
    font-family: 'Montserrat';
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    z-index: 10;
    width: 110px;
}

.menuReserva ul li a:hover{
    margin-top: -5px;
    z-index: 10;
}

.textoReserva:after{
    color: rgba(5, 96, 61, 0.79);
    content: "COMIENCE SU VIAJE";
    display: block;
    font-size: 0.6em;
    font-weight: normal;
    
}

.textoUbiquenos:after{
    color: rgba(5, 96, 61, 0.79);
    content: "ENCUENTRE LA OFICINA MAS CERCANA";
    display: block;
    font-size: 0.531em;
    font-weight: normal;
}

/* Fin Menu Reserva */

/* Condiciones Responsive */
@media screen and (min-width: 768px) and (max-width: 1000px) {

    .principal{
        height: 300px;
        z-index: -30;
    }
    .menuReserva{
        margin-top: 74px;
    }
    .menuReserva ul li a{
        z-index: 2;
    }
}
/*Fin Condiciones Responsive */
.mapa {
    text-align: center;
}

.main {
    content: " ";
    display: block;
    margin-top: 30px;
    position: relative;
    width: 100%;
}

#map {
    width: 100%;
    height: 350px;
}
body {
    background: url(../img/bg.png);
}

#reservacompleta {
    background-color: black;
    display: block;
    height: 400px;
    margin-left: 273px;
    margin-top: -175px;
    width: 430px;
}


#containerMenu {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
}

.reserva {
    background: white;
    border-radius: 9px;
    height: 385px;
    position: absolute;
    width: 417px;
    opacity: 0.91;
}

#rellenoReserva {
    content: "";
    display: inline-block;
    min-height: 400px;
    min-width: 0px;
    max-width: 800px;
    width: 800px;

    
}

#menuReserva {
    width: 1323px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
}

#containerTexto {
    position: absolute;
    opacity: 1;
    text-align: center;
    width: 417px;

}

.fondoReserva {
    content: "";
    box-shadow: 5px 10px 50px #4c8465;
    border: solid;
    border-radius: 10px;
    border-color: #14b24c;
    display: inline-block;
    max-width: 417px;
    width: 417px;
    min-height: 385px;
    opacity: 1;
}



.texto {
    color: #05500d;
    font-family: "source_sans_proregular", sans-serif, arial;
    font-size: 2em;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 5px;
    /*-webkit-text-stroke: 0.054em white;*/
}

.selectReserva
 {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #343434;
    font-size: 1em;
    font-family: "source_sans_proregular";
    padding-right:30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

.reservaSelect {
    height: 35px;
    width: 350px;
}

.textoTitulo {
    color: #05500f;
    font-family: source_sans_probold;
    font-size: 1.1em;
    padding-left: 33px;
    text-align: left;
}

.checkReserva {
    
}

span {
    
}

.cocheReserva {
    color: #05500f;
    font-family: source_sans_probold;
    padding-left: 5px;
    padding-right: 72px;
}

.fechaReserva {
    height: 30px;
    margin-left: -6px;
    padding: 0;
    text-align: center;
}

.selectTime {
    height: 30px;
    width: 180px;
}

.rellenoRe {
    content: "";
    padding-top: 100px;
}

.botonReserva {
    background: #05500f;
    border-radius: 5px;
    color:white;
    font-family: source_sans_probold;
    margin-left: -10px;
    padding: 136px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.botonReserva:hover{
    background: #05841c;
}
  


.twitter-time {
    height: 400px;
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1100px;
}

.relleno {
    background: black;
    display: inline-block;
    float: left;
    height: 300px;
    width: 500px;
}

.separacion {
    content: " ";
    padding-left: 20px;
    padding-bottom: 400px;
}



.fade {
    width: 100%;    
    height: 100%;
    background-color: black;
    opacity: 0.4;
    position: fixed;
    z-index: 20;
}

.sliderPublicidad {

}



footer{

    background-color: black;
    color:white;
    font-family: source_sans_proregular;
    height: 150px;
    position: relative;
    width: 100%;
}

.contenedorContacto{
    
    margin-left: 300px;
    margin-top: 20px;
    position: absolute;
    width: 220px;
}
pre {
    font-family: source_sans_proregular;
}


.contenedorRedesSociales {
    margin-left: 580px;
    margin-top: 20px;
    position: absolute;
}
.copyrightFooter{
    margin-top: 20px;
    margin-left: 800px;
    position: absolute;
    height: 100px;
    width: 200px;
}
.ubicanosP {
    
}




.sliderContainer {
    margin-left: auto;
    margin-right: auto;
    
    width: 520;
}

.slider {
    display: inline-block;
    float: left;
}

.twitter {
    float: l;
    display: inline-block;
}

.piePagina {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
