@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ijxmcq');
	src:url('fonts/icomoon.eot?#iefix-ijxmcq') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ijxmcq') format('woff'),
		url('fonts/icomoon.ttf?-ijxmcq') format('truetype'),
		url('fonts/icomoon.svg?-ijxmcq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-phone:before {
	content: "\e601";
}
.icon-location:before {
	content: "\e602";
}
.icon-location2:before {
	content: "\e603";
}
.icon-map:before {
	content: "\e604";
}
.icon-map2:before {
	content: "\e605";
}
.icon-note:before {
	content: "\e606";
}
