/* by c1sar*/

/**
{
	margin:0px;
	padding:0px;
}*/

@font-face 
{
    font-family: 'source_sans_proregular';
    src: url('../fonts/regular/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/regular/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/regular/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/regular/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/regular/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'source_sans_probold';
    src: url('../fonts/bold/sourcesanspro-bold-webfont.eot');
    src: url('../fonts/bold/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bold/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../fonts/bold/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('../fonts/bold/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'kaushanscript';
    src: url('../fonts/Kaushan/kaushanscript-regular-webfont.eot');
    src: url('../fonts/Kaushan/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kaushan/kaushanscript-regular-webfont.woff') format('woff'),
         url('../fonts/Kaushan/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('../fonts/Kaushan/kaushanscript-regular-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'bubblegumsans';
    src: url('../fonts/bubblegumsans/bubblegumsans-regular-webfont.eot');
    src: url('../fonts/bubblegumsans/bubblegumsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bubblegumsans/bubblegumsans-regular-webfont.woff') format('woff'),
         url('../fonts/bubblegumsans/bubblegumsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/bubblegumsans/bubblegumsans-regular-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: "source_sans_proregular", Helvetica, Verdana;
	/*font-size: 2em;*/
}

.titulo
{
	font-family: "source_sans_probold", Helvetica, Verdana;
	font-size: 4em;
	margin:0.25em auto;
	text-align:center;
}

section#contenedor
{
	margin:0.5em auto;
	max-width: 1200px;
	padding:0em;
	text-align:center;
}

section#SECmapa, section#SECform
{
	border-radius: 0.5em;
	display: inline-block;
	margin:0.25em auto;
	max-width: 1520px;
	min-width: 300px;
	vertical-align:top;
	width:48%;
	background:white;
    border-radius: 9px;
	opacity: 0.91;
	box-shadow: 5px 10px 50px #4c8465;
    border: solid;
    border-radius: 10px;
    border-color: #14b24c;
    display: inline-block;
    opacity: 1;
}

#SVGven
{
	display: block;
	width: 80%;
    height: 80%;
	z-index:15;
	margin-left: auto;
	margin-right: auto;
}

section#SECform
{
	width:48%;
}


#map
{
	display: block; 
	min-height: 100px;
	min-width: 200px;
	max-width:75%;
	border: 1px solid #777; 
	overflow: hidden; 
	background:#FFF;
	margin-top:10px;
	margin-left: auto;
  	margin-right: auto;
}

.FORMubicanos ul 
{
    list-style-type:none;
    margin:0px;
    padding:0px;
}

.FORMubicanos li
{
    padding:8px;
    border-bottom:1px solid #eee;
    position:relative;
}


.FORMubicanos label 
{
    color: #05500f;
    /*display: inline-block;
    float: left;*/
	font-family: source_sans_probold;
    font-size: 1.1em;
    margin-top: 3px;
    padding: 2px;
    width-max: 120px;
	text-align:right;
}

 .FORMubicanos input, .FORMubicanos textarea, .FORMubicanos select, #map
 {
   	border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #343434;
    font-size: 1em;
    font-family: "source_sans_proregular";
    padding-right:30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

.FORMubicanos input 
{
    height:20px;
    width:280px;
    padding:5px 8px;
	font-size: 0.9em;
}

.FORMubicanos input2
{
    height:20px;
    width:100px;
    padding:5px 8px;
	font-size: 0.9em;
}

.FORMubicanos select 
{
    width:297px;
    padding:5px 8px;
	z-index:10;
}

.FORMubicanos textarea 
{
	margin-top:0px;
    padding:8px;
    width:280px;
	resize: none;
	font-size: 0.9em;
}


.FORMubicanos button 
{
    margin-left:90px;
}


.tabla
{
	display: block; 
	align:center;
	
}

.tabla tr
{
	align:center;
}

.tabla td
{
	margin-top:15px;
	display:inline-block;
	width:200px;
	float:left;
	
	
	margin-left:10px;
    vertical-align: middle;
}


.tabla2
{
	display: block; 
	align:center;
	
}

.tabla2 tr
{
	align:center;
}


.tabla2 td
{
	margin-top:15px;
	display:inline-block;
	
	
	margin-left:10px;
    vertical-align: middle;
}


#Zulia g .fondo
{
	fill:#99BD77;
}


#Zulia1.activo
{
	fill:#009485;
	cursor:pointer;
}


.estado .fondo
{
	fill:#99BD77;
}

.estado path:hover
{
	fill:#53A16F;
	cursor:pointer;
}

.estado path:active
{
	fill:#009485;
}

.estado path:focus
{
	fill:#E3D122;
}

.modalDialog 
{
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target 
{
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div 
{
	width: 520px;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	box-shadow: 5px 10px 50px #4c8465;
	border: solid;
	border-radius: 10px;
	border-color:#14b24c;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close 
{
	background: #009485;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #E3D122; }

.titulopopa
{
	font-weight: bold;
	font-family: "kaushanscript";
	font-size:1.9em;
	color:#009485;
	text-shadow: 0 0 0.4em #8F7;
	text-align:center;
}

.botonENVIAR 
{
    background: #05500f;
    border-radius: 5px;
    color:white;
    font-family: source_sans_probold;
    margin-left: -10px;
    padding: 123px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
	margin-left: 136px;
}

.botonENVIAR:hover{
    background: #05841c;
}

#conseguir
{
	font-family: "bubblegumsans";
	font-size:1.6em;
	color:#009485;
}